/* Aplica un suavizado de fuentes para navegadores basados en Webkit (Safari, Chrome) */
element {
  -webkit-font-smoothing: antialiased; /* Suavizado para Chrome y Safari */
  -moz-osx-font-smoothing: grayscale;  /* Suavizado para Firefox en macOS */
  font-family: 'Arial', sans-serif;     /* Define una fuente de respaldo */
  font-weight: normal;                 /* Peso de la fuente */
  font-style: normal;                  
}

h1 {
  font-size: 1.5rem;
}